@unocss preflights;
@unocss default;  
@import "./variables.scss";
@import "./fonts.scss";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
